Repository asterisk/testsuite, pull requests merged in 2024-09, with the labels that each got.

#54 feat(tests/funcs/func_tonedetect): initial tests
  tests/funcs/func_tonedetect/configs/ast1/extensions.conf
  tests/funcs/func_tonedetect/test-config.yaml
  tests/funcs/func_tonedetect/tone_detect.py
  tests/funcs/tests.yaml
Labels: pre-merge-checks-passed, merge-in-progress, pr-submit-tests-passed

#50 Add tests for tenant identifier.
  tests/extra_gates/tenant_id
  tests/extra_gates/tests.yaml
  tests/tenant_id/tenant_id_ami/configs/ast1/extensions.conf
  tests/tenant_id/tenant_id_ami/configs/ast1/pjsip.conf
  tests/tenant_id/tenant_id_ami/sipp/echo.xml
  tests/tenant_id/tenant_id_ami/test-config.yaml
  tests/tenant_id/tenant_id_ari/configs/ast1/extensions.conf
  tests/tenant_id/tenant_id_ari/tenant_id.py
  tests/tenant_id/tenant_id_ari/test-config.yaml
  tests/tenant_id/tenant_id_dialplan/configs/ast1/extensions.conf
  tests/tenant_id/tenant_id_dialplan/configs/ast1/pjsip.conf
  tests/tenant_id/tenant_id_dialplan/sipp/uac-no-hangup.xml
  tests/tenant_id/tenant_id_dialplan/test-config.yaml
  tests/tenant_id/tests.yaml
  tests/tests.yaml
Labels: cherry-pick-checks-passed, pre-merge-checks-passed, merge-in-progress, pr-submit-tests-passed

#67 Updates for running the testsuite using realtime database
  lib/python/asterisk/astconfigparser.py
  lib/python/asterisk/realtime_converter.py
  requirements-realtime.txt
  setupVenv.sh
Labels: cherry-pick-checks-failed, pre-merge-checks-passed, merge-in-progress, pr-submit-tests-passed
